.order-number-title {
  font-family: Poppins, Open Sans, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (orientation: portrait) {
  .order-number-title {
    font-size: 20px;
  }
}
